@charset "UTF-8";


*{
  margin: 0px;
  padding: 0px;
 
  box-sizing: border-box;
}

:root{
  --fundo-principal: rgb(255, 255, 255);        /* Branco */

  --texto: rgb(20, 20, 25);                    /* Preto suave */
  --texto-inverso: rgb(245, 245, 245);         /* Branco */

  --destaque: rgb(138, 75, 175);               /* Roxo elegante (principal) */
  --destaque-inverso: rgb(190, 210, 240);      /* Azul pastel tech */

  --fundo-card: rgb(235, 220, 245);            /* Roxo bem clarinho */

}

body{

  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.5em;
  background-color: var(--fundo-principal);
  color: var(--texto);

}

header{
  background-color: var(--destaque);
  color: var(--texto);
  padding: 10px;
  display: flex;
  justify-content: flex-end;
  align-content: center;
}

nav#menu > ul{
  list-style: none; /*remove bolinhas,numeros e quadrados das listas*/
  display: flex;
  gap: 10px;

}

nav#menu a {
  text-decoration: none;
  color: var(--texto-inverso);
  font-weight: 600; /*grossura da fonte*/
  padding: 12px 15px;
  border-radius: 5px;
}

nav#menu a:hover{
  background-color: var(--destaque-inverso);
  color: var(--destaque);
}

div#social{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 9px;
  

  

}

.redes-sociais::before {
  content: '沐';


 }

 .redes-sociais{
  border: 1px solid var(--texto);
  border-radius: 5px;
  background-color: var(--fundo-card);
  color: var(--texto);
  box-shadow: 0px 1px 0px 1px rgba(0, 0, 0, 0.345);
  text-decoration: none;
  }

  div#social>a:hover{
    background-color: var(--destaque);
    color: var(--fundo-principal);
  }

  main{
    display: grid;
    grid-template-columns: auto 90vw auto ;
    gap: 20px;
    margin-top: 20px;

  }

  section#ficha{
    background-color:var(--fundo-card);
    padding: 20px;
    border-radius: 8px;
    grid-column: 2;
  }


  section#ficha>img.foto{
    width: 200px;
    aspect-ratio: 1/1; /*foto quadradinha*/
    object-fit: cover;
    object-position: 50% 25%; /*ajustando topo depois a parte de baixo,top center nﾃ｣o funcionou*/
    overflow: hidden;
    border-radius: 10px;
    border: 5px solid var(--destaque);
    box-shadow:0 4px 3px rgba(0, 0, 0, 0.436);
    display: block;
    margin: auto;
    margin-bottom: 15px;
    
   }

  

   section#ficha > h1{
    
    color: var(--texto);
    margin: 15px;
    font-size: 1.8em;
    
    
   }
   section > h1::before{
    content: '洫ｩ ';
   }

   section#ficha > p{
    padding-bottom: 10px;
   }

    section#detalhes{
    grid-column: 2;
    }

    article{
      background-color: var(--fundo-card);
      padding: 20px;
      margin-bottom: 20px;
      border-radius: 8px;
    }

    article >h2{
      color: var(--texto);
      margin-bottom: 10px;
      text-align: center;

    }

    .video-container{
      position: relative;
      width: 100%;
      margin: auto;
      aspect-ratio: 16/9;
      border: 1px solid black;
    }


    .video-container > video{
      position: absolute;
      top: 0;
      left: 0;
      width:100%;
      height: 100%;
      border-radius: 8px;
    }

    #skill-container{
      display: grid;
      grid-template-columns: 1fr;
      gap: 30px;
    }

    #skill-container .info{
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    #skill-container.nome{
      font-weight: bolder; /*CONSERTAR DEPOIS,AS LETRAS Nﾃグ ESTﾃグ FICANDO EM NEGRITO*/
      color: var(--texto);

    }

    #skill-container .porcent{
      font-weight: bolder;  /*CONSERTAR DEPOIS,AS LETRAS Nﾃグ ESTﾃグ FICANDO EM NEGRITO*/
      color: var(--destaque);
    }

    #skill-container .barra{
      width: 100%;
      height: 8px;
      background-color: var(--fundo-principal);
      border-radius: 4px;
    }

    #skill-container .progresso {
      height: 100%;
      background-color: var(--destaque-inverso);
      border-radius: 4px;
    }

    #formacao-container{
      display: flex;
      flex-direction: column;
      gap: 20px;
    }

    #formacao-container .curso{
      background-color: var(--fundo-principal);
      border-radius: 8px;
      border-left: 5px solid var(--destaque-inverso);
      padding-left: 15px;
    }

    #formacao-container .curso:hover{
      border-left-width: 15px;
      border-color: var(--destaque); 
      cursor: pointer;
      transition: 0.5s; /* tempo da transiﾃｧﾃ｣o*/
      transition:border-color 0.5s; /*tempo da transiﾃｧﾃ｣o DA BORDA*/
    }

    #projeto-container{
      display: flex;
      flex-direction: column;
      gap: 20px;
    }

    #projeto-container > .projeto{
      display: flex;
      flex-direction: column;
      gap: 15px;
      background-color: var(--fundo-principal);
      padding: 10px;
      border-radius: 8px;
      border-left: 5px solid var(--destaque-inverso);
      transition: 0.5s;
      transition: border-color 0.5s;
    }

    #projeto-container .projeto:hover{
      border-color: var(--destaque);
      border-left-width: 15px;
      cursor: pointer;
    }

    #projeto-container > .foto{
      width: 100%;
      aspect-ratio: 16/09;
      object-fit: cover;
      overflow: hidden;
    }

    .descricao>summary>p{
      text-indent: auto;
      margin-bottom: 10px;
    }



    @media screen and (min-width:768px){
      #skill-container{
        grid-template-columns: 1fr 1fr;
      }

      

    }


   
